			<!--<header>
			<h1 class="titulo-principal">Barbearia Alura</h1>
		</header>-->

		<!--<link rel="stylesheet" href="style_home">-->



	body{
		background:#cccccc;
		padding: 30px;
	}
	.titulo-principal{
		padding-left: 20px;
	}

	#banner{
		width:100%;

	}
	.principal{
		background:#ffffff;
		padding: 20px;
	}

	.titulo-centralizado{
		text-align:center;
	}

	#missao{
		font-size:20px
	}

	p{
		text-align: center;
	}

	em strong{
		color: red;
	}

	.beneficios{
		background: #ffffff;
		padding: 20px;

	}
	
	.lista{
		display: inline-block;
		vertical-align: top;
		width :20%;
		margin-right: 15%;

	}

	.item{
		font-style:italic;

	}


	.imagemBeneficios{
		width:50%;
	}